<div class="row">
  <div class="col-md-12">
  	<h3>sign in to the most sustainable food group</h3>
  </div>
</div>
<% unless params.valid? %>
  <div class='errors'>
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.error_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=
form_for :provider, '/signin', enctype: 'multipart/form-data' do

    div class: 'input' do
      label   :email
      text_field  :email
    end

    div class: 'input' do
      label   :password
      password_field  :password
    end 


    div class: 'controls' do
      submit 'Post Signup'
    end
  
  end
%>


<div class="row">
  <div class="col-md-12" style="height:3em;width:50%"></div>
</div>

<div class="row">
  <div class="col-md-6">
    <h5>done with waste reduction? <a href="">logout!</a></h5>
  </div>
  <div class="col-md-6">
    <h5>not a member? <a href="/signup/new">join here!</a></h5>
  </div>
</div>  

<div class="row">
</div>




