
<% if meals.any? %>
<h2>all the meals!</h2>
<h4>click the marker for more info</h4>
<% else %>
	<p class="placeholder"> We are out of meals.</p>
<% end %>
<div id="map"style="height: 500px; width: 500px;"></div>
