body { 
	padding-top: 70px;
	padding-bottom: 70px; 
	text-align: center;
}

.navbar-fixed-top {
	color: orange;
	background-color: #ffffff;
	height
}

.navbar-fixed-bottom {
	color: white;
	background-color: #000000;
}

.navbar-brand{
	padding: 5px;
}